alabaster==0.7.12
anaconda-client==1.2.2
click==7.1.2
conda==4.3.16
Flask==1.1.2
gunicorn==20.1.0
itsdangerous==1.1.0
Jinja2==2.11.2
json5==0.9.5
jupyter==1.0.0
numpy>=1.9.2
pandas>=0.19
py==1.10.0
sklearn==0.0

